
<nav class="cmp-languagenavigation">
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-US" title="United States"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/us/en.html" hreflang="en-US" lang="en-US" rel="alternate" title="English">English</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-es-US cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/us/es.html" hreflang="es-US" lang="es-US" rel="alternate" title="Español">Español</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-CA" title="Canada"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-en-CA cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ca/en.html" hreflang="en-CA" lang="en-CA" rel="alternate" title="English">English</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CA cmp-languagenavigation__item--langcode-fr-CA cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ca/fr.html" hreflang="fr-CA" lang="fr-CA" rel="alternate" title="Français">Français</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-CH" title="Switzerland"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-de-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/de.html" hreflang="de-CH" lang="de-CH" rel="alternate" title="Deutsch">Deutsch</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-fr-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/fr.html" hreflang="fr-CH" lang="fr-CH" rel="alternate" title="Français">Français</a>

        
    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-CH cmp-languagenavigation__item--langcode-it-CH cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/ch/it.html" hreflang="it-CH" lang="it-CH" rel="alternate" title="Italiano">Italiano</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-DE" title="Germany"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/de/de.html" hreflang="de-DE" lang="de-DE" rel="alternate" title="Deutsch">Deutsch</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-FR" title="France"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/fr/fr.html" hreflang="fr-FR" lang="fr-FR" rel="alternate" title="Français">Français</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-ES" title="Spain"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/es/es.html" hreflang="es-ES" lang="es-ES" rel="alternate" title="Español">Español</a>

        
    </li>

    </ul>

    </li>

    
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-0">
        
    <i class="we-lang-icon we-lang-icon-IT" title="Italy"></i>
    

        
    <ul class="cmp-languagenavigation__group">
        
    <li class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-IT cmp-languagenavigation__item--langcode-it-IT cmp-languagenavigation__item--level-1">
        
    
    <a class="cmp-languagenavigation__item-link" href="/content/we-retail/it/it.html" hreflang="it-IT" lang="it-IT" rel="alternate" title="Italiano">Italiano</a>

        
    </li>

    </ul>

    </li>

    </ul>
</nav>

    

